<!-- client/index.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Workout Planner</title>
  </head>
  <body>
    <h1>Workout Tracker</h1>
    <div id="root"></div>
</body>
</html>