
.dayButton{
    padding: 10px;
    font-size: 15px;
    border-radius: 100px;
    background:#4e72e9;
    border-color: #4e72e9;
    color: white;
    margin:3px;
    border: solid;
    border-width:1px;
    width:60px;
    height:60px;
}

input[type="button"]{
    outline: 0;
 }

.dayButton:hover{
    background:white;
    color: #4e72e9;
}

.main-container{
    width:50%;
    margin:auto;
}


.home-btn{
    margin-left:10px;
    height:2.5em;
}

.calendar-header{
    text-align: center;
}

.calendar-controller{
    float: left;
}

.calendar-component{
    margin: auto;
    width:auto;
    float: left;
}

.calendar-caption{
    display: inline;
}




