
.dayButton{
    padding: 10px;
    font-size: 15px;
    border-radius: 100px;
    background:#4e72e9;
    border-color: #4e72e9;
    color: white;
    margin:3px;
    border: solid;
    border-width:1px;
    width:60px;
    height:60px;
}

input[type="button"]{
    outline: 0;
 }

.dayButton:hover{
    background:white;
    color: #4e72e9;
}

.main-container{
    width:70%;
    margin:auto;
}


.home-btn{
    margin-left:10px;
    height:2.5em;
}

.calendar-header{
    text-align: center;
}

.calendar-controller{
    float: left;
}

.calendar-component{
    margin: auto;
    width:auto;
    float: left;
}

.calendar-caption{
    display: inline;
}

.year-enter {
    transform: translate(100%);
    transition: transform 1000ms ease-in-out;
  }

.month-list{
    transform: translate(100%);
    transition: transform 1000ms ease-in-out;
}

.dayDetail{
    display: inline-block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 600px;
    height: 600px;
    margin: auto;
    background-color:#8f96ca;
    opacity:0.97;

}

.landing {
  position: relative;
  height: 100px;
  margin-top: 0px;
}

.landing-inner {
  padding-top: 80px;
}

.register {
    padding-top: 30px;
}

.MainMenu{
    
    float: left;
    background: red;

}

.currentDay{
    background:#ec8917;
}

.drop-down-list{
    list-style-type: none;
    padding:0;
}

.card-body{
    padding:0;

}